<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}"> 
  <head>  
    </head>
    <body>
      
            <section class="row" layout:fragment="content">
                <div class="o col mt-2">
                  <div class="card">
                    <div class="card-header">
                     Orderdetail List
                    </div>
                    <div class="card-body">
                    <div th:if="@{message != null}" class="alert alert-primary" role="alert">
                    <i>[[${message}]]</i>
                    </div>
                      <table class="table table-sm table-inverse ">
                        <thead class="thead-inverse">
                          <tr>
                            <th>Orderdetail ID</th>
                            <th>Order Id</th>                        
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>UnitPrice</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr th:each=" orderdetail : ${orderdetails}">
                            
                              <td th:text="${orderdetail.orderDetailId}"></td>
                               <td th:text="${orderdetail.order.orderId}"></td>
                                <td th:text="${orderdetail.product.name }"></td>
                                 <td th:text="${orderdetail.quantity}"></td>
                                  <td th:text="${orderdetail.unitPrice}"></td>
                              <td>
                               
                               
                                <a th:href="@{'/admin/orderdetails/delete/' +${orderdetail.orderDetailId}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                              </td>
                            </tr>
                            
                          </tbody>
                      </table> 
                    </div>
                    <div class="card-footer text-muted">
                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  
                </div>
            </section>
    </body>
</html>