<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
 <head>

 </head>
 <body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-sm mt-1  bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">The&Tan</a>
    
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
               <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" th:href="@{/site/}">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" th:href="@{/site/register}">Register</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" th:href="@{/admin/categories/search}">Manage Category</a>
                  </li>
                 
                  
               </ul>
               <ul class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              </ul>
            </div>
         </nav>
    </div>
 </body>
</html>
