<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}"> 
  <head>  
    </head>
    <body>
      
            <section class="row" layout:fragment="content">
                <div class=" col mt-2">
                  <div class="card">
                    <div class="card-header">
                      Category List
                    </div>
                    <div class="card-body">
                    <div th:if="@{message != null}" class="alert alert-primary" role="alert">
                    <i>[[${message}]]</i>
                    </div>
                      <table class="table table-sm table-inverse">
                        <thead class="thead-inverse">
                          <tr>
                            <th>CustomerID</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>password</th>
                            <th>phone</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr th:each=" customer : ${customers}">
                            
                              <td th:text="${customer.customerId}"></td>
                               <td th:text="${customer.email}"></td>
                                <td th:text="${customer.name}"></td>
                                 <td th:text="${customer.password}"></td>
                                  <td th:text="${customer.phone}"></td>
                                   <td th:text="${customer.registedDate}"></td>
                                   <td th:text="${customer.status}"></td>
                                   
                              <td>
                               
                               
                                <a th:href="@{'/admin/customers/delete/' +${customer.customerId}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                              </td>
                            </tr>
                            
                          </tbody>
                      </table> 
                    </div>
                    <div class="card-footer text-muted">
                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  
                </div>
            </section>
    </body>
</html>