
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}"> 
  <head>
        
      
    </head>

    <body>
        
            <section class="row" layout:fragment="content">
                <div class="offset-2 col-8 mt-2">
                    <form th:action= "@{/admin/products/saveOrUpdate}" th:object="${product}" enctype="multipart/form-data" method="post">
                        <div class="card">
                            <div class="card-header">

            <span th:if="${product.isEdit}">Update Product</span>
                                <span th:unless="${product.isEdit}">Save Product</span>
                            </div>
                            
                             <div class="card-body">
              <div class="row">
                <div class="col-4">
                <script>
               function chooseFile(fileInput){
            	   if(fileInput.files && fileInput.files[0]){
            		   var reader = new FileReader();
            		   
            		   reader.onload = function(e){
            			   $('#image').attr('src',e.target.result);
            		   }
            		   reader.readAsDataURL(fileInput.files[0]);
            	   }
               }
               </script>
                  <img id ="image"  src="" th:src="'/uploads/'+${product.image}" width="90%"
                   class="img-fluid"
                    alt="">
                  <div class="form-group">
                    <label for="productImage">Image file</label>
                    <input type="file" onchange="chooseFile(this)" class="form-control-file"  name="file" id="" placeholder=""
                      aria-describedby="fileHelpId">
                    <small id="productImageHelpId" class="form-text text-muted">Product image is requied</small>
                  </div>
                  <div class="input-group form-group">
                    <span class="input-group-text">Unit Price</span>
                    <input type="number"  th:value="*{unitPrice}" name="unitPrice" id="unitPrice" class="form-control" placeholder="unitPrice">
                    <span class="input-group-text">$</span>
                  </div>
                  <div class="input-group form-group">
                    <span class="input-group-text">Discount</span>
                    <input type="number" th:value="*{discount}" name="discount" id="discount" class="form-control" placeholder="discount">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
                <div class="col-8">
                  <div class="form-group">
                    <label for="product">Product ID</label>
                    <input type="text" class="form-control" th:field="*{productId}" name="product" id="product" aria-describedby="productHid"
                      placeholder="Product Id" readonly>
                    <small id="productHid" class="form-text text-muted">product is required</small>
                  </div>
                  <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" th:field="*{name}" name="name" id="name" aria-describedby="nameHid"
                      placeholder="name">
                    <small id="nameHid" class="form-text text-muted">name is required</small>
                  </div>
                  <div class="form-group">
                    <label for="">Quantity</label>
                    <input type="number" class="form-control" th:value="*{quantity}" name="quantity" id="quantity"
                      aria-describedby="quantityHid" placeholder="quantity">
                    <small id="quantityHid" class="form-text text-muted">name is required</small>
                  </div>

                  <div class="form-group"> 
                     <label for="CategoryId">Category</label>
                     <select class="form-control" th:field="*{categoryId}">
                     <option th:each="p : ${categorieslist}" 
                     th:value="${p.categoryId}" th:text="${p.name}"
                      th:selected="${p.categoryId == product.categoryId}"/> 
                    </select> 
                     </div>
           
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control"  th:field="*{status}">
      <option th:each="p : ${statusList}" th:value="${p}" th:text="${p}"/>
                    </select>
                  </div>
               
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" th:field="*{description}"  rows="5" aria-describedby="descriptionhelpId" placeholder="description"></textarea>
                <small id="descriptionhelpId" class="form-text text-muted">Help text</small>
              </div>
            
            </div>
                            


                           <div class="card-footer text-muted">
                                <button type="reset" class="btn btn-secondary"><i class="fas fa-input"></i>Reset</button>
                                <a th:href="@{/admin/products/searchpaginated}" class="btn btn-success"><i class="fas fa-input"></i>List Categories</a>
                                <button class="btn btn-primary"><i class="fas fa-Save"></i>
                                <span th:if="${product.isEdit}">Update</span>
                                <span th:unless="${product.isEdit}">Save</span>
                                </button>
                  
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        
    </body>
</html>

