<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}"> 
  <head>
      
    </head>

    <body>
        
            <section class="row" layout:fragment="content">
                <div class="col mt-4">
                  <div class="card">
                    <div class="card-header">
                      Category List
                    </div>
                    <div class="card-body">
                    <div th:if="${message != null}" class="alert alert-primary" role="alert">
                    <i>[[${message}]]</i>
                    
                    </div>
                    <div class="row mt-2 mb-2">
                      <div class="col">
                        <form th:action="@{/admin/products/searchpaginated}">
                          <div class="form-inline float-left">
                            <label for="name">Name</label>
                            <input type="text" class="form-control ml-2" name="name"
                             id="name" aria-describedby="helpId" placeholder="name">
                            <button class="btn btn-outline-primary ml-2">search</button>
                          </div>
                        </form>
                        <div class="float-right">
                        <a class="btn btn-outline-primary" 
                        th:href="@{/admin/products/add}">Add new Category</a>
                      </div>
                      </div>
                    </div>
                    <div class="row" th:if="${!productPage.hasContent()}">
                      <div class="col">
                        <div class="alert alert-danger" role="alert">
                          <strong>No product Found</strong>
                        </div>
                      </div>
                    </div>
                      <table class="table table-sm table-inverse">
                      <thead class="thead-inverse">
                        <tr>
                          <th>
                            <input type="checkbox" class="form-check-input">
                          </th>
                          <th>Image</th>
                          <th>productId</th>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Unit Price</th>
                          <th>Discount</th>
                          <th>Status</th>
                          <th>entered_date</th>
                          <th>Category</th>
                          <th>description</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                         <tr th:each=" product, iStat : ${productPage.content}">
                            <td >
                              <input type="checkbox" class="form-check-inline" >
                            </td>
                            <td>
                              <img src="/images/[[${product.image}]]" with="70" class="img-fluid" alt="">
                            </td>
                            <td scope="row">[[${product.productId}]]</td>
                            <td scope="row">[[${product.name}]]</td>
                            <td scope="row">[[${product.quantity}]]</td>
                            <td scope="row">[[${product.unitPrice}]]</td>
                            <td scope="row">[[${product.discount}]]</td>
                            <td scope="row">[[${product.status}]]</td>
                             <td scope="row">[[${product.enteredDate}]]</td>
                            <td scope="row">[[${product.category.name}]]</td>
                            <td scope="row">[[${product.description}]]</td>
                            <td>
                                <a th:href="@{'/admin/products/view' + ${product.productId}}" class="btn btn-outline-info"><i class="fas fa-info "></i>i</a>
                                <a th:href="@{'/admin/products/edit/' + ${product.productId}}" class="btn btn-outline-warning"><i class="fas fa-edit "></i></a>
                                <a th:href="@{'/admin/products/delete/' +${product.productId}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                            </td>
                          </tr>
                          
                          
                        </tbody>
                    </table> 
                    </div>
                    <div class="card-footer text-muted">
                      <form action="">
                        <div class="form-inline float-left">
                          <label for="size">Page Size:</label>
                          <select name="size" id="size" class="form-control"
                          onchange="this.form.submit()">
                            <option th:selected="${productPage.size == 5}" value="5">5</option>
                            <option th:selected="${productPage.size == 10}" value="10">10</option>
                            <option th:selected="${productPage.size == 15}" value="15">15</option>
                            <option th:selected="${productPage.size == 20}" value="20">20</option>
                            <option th:selected="${productPage.size == 30}" value="30">30</option>
                          </select>
                        </div>
                      </form>
                      <nav aria-label="Page navigation"
                       th:if="${productPage.totalPages > 0 }">
                        <ul class="pagination justify-content-center">
                          <li th:class="${1== productPage.number + 1} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/admin/products/searchpaginated(name=${name}, size=${productPage.size}, page=${1})}"
                            class="page-link">Frist
                            </a>
                          </li>

                          <li class="page-item active"
                          th:each="pageNumber : ${pageNumbers}"
                          th:if="${productPage.totalPages >1}"
                          th:class="${pageNumber == productPage.number +1} ? 'page-item active' : 'page-item'">
                          <a th:href="@{/admin/products/searchpaginated(name=${name}, size=${productPage.size}, page=${pageNumber})}"
                          class="page-link"
                          th:text="${pageNumber}">
                          </a>
                        </li>


                          <li th:class="${productPage.totalPages== productPage.number + 1} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/admin/products/searchpaginated(name=${name}, size=${productPage.size}, page=${productPage.totalPages})}"
                            class="page-link">Last
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  
                </div>
             </section>
        
     
    </body>
</html>