<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}"> 
  <head>
      
    </head>

    <body>
        
            <section class="row" layout:fragment="content">
                <div class="offset-3 col mt-4">
                  <div class="card">
                    <div class="card-header">
                      Product List
                    </div>
                    <div class="card-body">
                    <div th:if="${message != null}" class="alert alert-primary" role="alert">
                    <i>[[${message}]]</i>
                    
                    </div>
                    <div class="row mt-2 mb-2">
                      <div class="col">
                        <form th:action="@{/admin/products/search}">
                          <div class="form-inline float-left">
                            <label for="name">Name</label>
                            <input type="text" class="form-control ml-2" name="name"
                             id="name" aria-describedby="helpId" placeholder="name">
                            <button class="btn btn-outline-primary ml-2">search</button>
                          </div>
                        </form>
                        <div class="float-right">
                        <a class="btn btn-outline-primary" 
                        th:href="@{/admin/products/add}">Add new Product</a>
                      </div>
                      </div>
                    </div>
                       <table class="table table-sm table-inverse">
                      <thead class="thead-inverse">
                        <tr>
                          <th>
                            <input type="checkbox" class="form-check-input">
                          </th>
                          <th>Image</th>
                          <th>productId</th>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Unit Price</th>
                          <th>Discount</th>
                          <th>Status</th>
                          <th>entered_date</th>
                          <th>Category</th>
                          <th>description</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                          <tr th:each=" product : ${products}">
                            <td >
                              <input type="checkbox" class="form-check-inline" >
                            </td>
                            <td>
                              <img src="/images/[[${product.image}]]" with="70" class="img-fluid" alt="">
                            </td>
                            <td scope="row">[[${product.productId}]]</td>
                            <td scope="row">[[${product.name}]]</td>
                            <td scope="row">[[${product.quantity}]]</td>
                            <td scope="row">[[${product.unitPrice}]]</td>
                            <td scope="row">[[${product.discount}]]</td>
                            <td scope="row">[[${product.status}]]</td>
                             <td scope="row">[[${product.enteredDate}]]</td>
                            <td scope="row">[[${product.category.name}]]</td>
                            <td scope="row">[[${product.description}]]</td>
                            <td>
                                <a th:href="@{'/admin/products/view' + ${product.productId}}" class="btn btn-outline-info"><i class="fas fa-info "></i>i</a>
                                <a th:href="@{'/admin/products/edit/' + ${product.productId}}" class="btn btn-outline-warning"><i class="fas fa-edit "></i></a>
                                <a th:href="@{'/admin/products/delete/' +${product.productId}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                            </td>
                          </tr>
                          
                          
                        </tbody>
                    </table> 
                    </div>
                    <div class="card-footer text-muted">
                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  
                </div>
            </section>
        
     
    </body>
</html>