<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}"> 
  <head>
        
      
    </head>

    <body>
        
            <section class="row" layout:fragment="content">
                <div class="offset-3 col-6 mt-2">
                    <form th:action= "@{/admin/categories/saveOrUpdate}" th:object="${category}" method="post">
                        <div class="card">
                            <div class="card-header">
<!--                                 <b>Add New category</b> -->
                       <span th:if="${category.isEdit}">Update add</span>
                                <span th:unless="${category.isEdit}">Save add</span>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label for="category">Category ID</label>
                                  <input type="hidden" th:field="*{isEdit}">
                                  <input type="number" class="form-control" th:field="*{categoryId}"  aria-describedby="usernameHid" placeholder="category"
                                  readonly>
                                  <small th:if="${#fields.hasErrors('categoryId')}" id="categoryHid" class="form-text text-muted">category is required</small>
                                </div>
                            <div class="form-group">
                              <label for="">Name</label>
                              <input type="text" class="form-control" th:field="*{name}"  aria-describedby="passwordHid" placeholder="password">
                              <small th:if="${#fields.hasErrors('name')}" 
                              id="nameHid" class="form-text text-muted">name is required</small>
                            </div>
                            
                            </div>
                            <div class="card-footer text-muted">
                                <button type="reset" class="btn btn-secondary"><i class="fas fa-input"></i>Reset</button>
                                <a th:href="@{/admin/categories/searchpaginated}" class="btn btn-success"><i class="fas fa-input"></i>List Categories</a>
                                <button class="btn btn-primary"><i class="fas fa-Save"></i>
                                <span th:if="${category.isEdit}">Update</span>
                                <span th:unless="${category.isEdit}">Save</span>
                                </button>
                  
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        
    </body>
</html>