<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
 <head>

 </head>
 <body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-sm mt-1  bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">The&Tan</a>
    
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
               <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Manage Customer</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" th:href="@{/admin/categories/search}">Manage Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Manage Product</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Manage Order</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Manage Profile</a>
                 </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu hover-danger bg-dark navbar-expand-Danger"    aria-labelledby="navbarDropdown">
                      <a class="dropdown-item nav-link " href="#">Action</a>
                      <a class="dropdown-item " href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item " href="#">Something else here</a>
                    </div>
                  </li>
                  
               </ul>
               <ul class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
              </ul>
            </div>
         </nav>
    </div>
 </body>
</html>
