<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/dashboardLayout.html}">
<head>
</head>
<body>

	<section  layout:fragment="content">
		<!--                 <div class="row"> -->
		<!-- 			<div class="col-sm-4" th:each="product : ${products}"> -->
		<!-- 				<div class="card mt-4"> -->
		<!-- 				<img th:src="'/uploads/'+${product.image}" style="width: 100px;height: 100px;"> -->
		<!-- 					<div class="card-body"> -->
		<!-- 						<h5 th:text="${product.name}" class="card-title"></h5> -->
		<!-- 						<p th:text="${product.unitPrice}" class="card-text"></p> -->
		<!-- 						<p th:text="'$ '+${product.discount}" class="card-text"></p> -->
		<!-- <!-- 						<a href="#" th:href="@{'~/home/addToCart/' + ${product.productId}}" class="btn btn-primary">AddToCart</a> -->
		

		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->
<!-- 		<div class="row"> -->
<!-- 			<div class="col-sm-3"> -->
<!-- 				<div th:each="ct : ${categories}"> -->
<!-- 					<ul class="list-group"> -->
<!-- 						<li class="list-group-item " th:text="${ct.name}"></li> -->
<!-- 						  <li class="list-group-item">Second item</li> -->
<!-- 						  <li class="list-group-item">Third item</li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="col-sm-9"> -->
			
<!-- 				<div class="col"  th:each="product : ${products}"> -->
<!-- 					<div class="card mt-4"> -->
<!-- 						<img th:src="'/uploads/'+${product.image}" -->
<!-- 							style="width: 100px; height: 100px;"> -->
<!-- 						<div class="card-body"> -->
<!-- 							<h5 th:text="${product.name}" class="card-title"></h5> -->
<!-- 							<p th:text="${product.unitPrice}" class="card-text"></p> -->
<!-- 							<p th:text="'$ '+${product.discount}" class="card-text"></p> -->
<!-- 													<a href="#" th:href="@{'~/home/addToCart/' + ${product.productId}}" class="btn btn-primary">AddToCart</a> -->

<!-- 						</div> -->
<!-- 					</div> -->


<!-- <div class="card "> -->
<!--   <div class="card-header">Header</div> -->
<!--   <div class="card-body">Content</div> -->
<!--   <div class="card-footer">Footer</div> -->
<!-- </div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</section> -->


<div class="row">
 <div class="col-sm-2">
 <div >
					<ul class="list-group">
					    <a th:href=@{/site/}><li class="list-group-item ">ALL Products</li></a>
						<a th:each="ct,iStat : ${categories}" th:href="@{/site/category/{id}(id=${ct.categoryId})}" >
						<li class="list-group-item " th:text="${ct.name}"></li></a>
						
					</ul>
				</div>
 </div>
 <div class="col-sm-10">
 
<!--  <div class="col-sm-3"th:each="product : ${products}">  -->
<!-- 					<div class="card mt-4"> -->
<!-- 						<img th:src="'/uploads/'+${product.image}" -->
<!-- 							style="width: 100px; height: 100px;"> -->
<!-- 						<div class="card-body"> -->
<!-- 							<h5 th:text="${product.name}" class="card-title"></h5> -->
<!-- 							<p th:text="${product.unitPrice}" class="card-text"></p> -->
<!-- 							<p th:text="'$ '+${product.discount}" class="card-text"></p> -->
<!-- 							<a href="#" th:href="@{'~/home/addToCart/' + ${product.productId}}" class="btn btn-primary">AddToCart</a> -->

<!-- 						</div> -->
<!-- 					</div> -->
 <div class="row">
 <div class=" col-sm-3 p-2" th:each="product : ${products}">
 <div class="card ">
  <div class="card-header">
  <h4 th:text="${product.name}" class="card-title"></h4> 
  </div>
  <div class="card-body">
  <img th:src="'/uploads/'+${product.image}"style="width: 150px; height: 200px;"> 
  </div>
  <div class="card-footer">
  <li th:text="${product.unitPrice}" class="card-text"></li>
   <li th:text="'$ '+${product.discount}" class="card-text" style="color: red;"></li> 
   <a href="" th:href="@{/site/viewproduct/{id}(id=${product.productId})} " class="btn btn-primary" style="float: right; padding-top: 5px;">View Product</a>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  view dialog
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Detail products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div  th:each="p : ${product}">

    <div class="card ">
  <div class="card-header">
  <h4 th:text="${p.name}" class="card-title"></h4> 
  </div>
  <div class="card-body">
  <img th:src="'/uploads/'+${p.image}"style="width: 150px; height: 200px;"> 
  </div>
  <div class="card-footer">
  <li th:text="${p.unitPrice}" class="card-text"></li>
   <li th:text="'$ '+${p.discount}" class="card-text" style="color: red;"></li> 
   <a href="" th:href="@{/site/viewproduct/{id}(id=${product.productId})} " class="btn btn-primary" style="float: right; padding-top: 5px;">Add Product</a>

     
  </div>
</div>
 
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
     
  </div>
</div>
</div>
 </div>
</div>
</body>
</html>
