<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{site/dashboardLayout.html}"> 
  <head>
        
      
    </head>

    <body>
        
            <section class="row" layout:fragment="content">
                <div class="offset-1 col-10 mt-4">
                    <form th:action= "@{/admin/customers/saveOrUpdate}" th:object="${customer}" method="post">
                        <div class="card">
                            <div class="card-header">
<!--                                 <b>Add New customer</b> -->
            <span th:if="${customer.isEdit}">Update add</span>
                                <span th:unless="${customer.isEdit}">Register</span>
                            </div>
                            <div class="card-body">
                                
                                <div class="form-group">
                              <label for="">Email</label>
                              <input type="email" class="form-control" th:field="*{email}" >
                              </div>
                            <div class="form-group">
                              <label for="">Name</label>
                              <input type="text" class="form-control" th:field="*{name}"  aria-describedby="passwordHid" placeholder="Name">
                              <small th:if="${#fields.hasErrors('name')}" 
                              id="nameHid" class="form-text text-muted">name is required</small>
                            </div>
                            
                           
                            <div class="form-group">
                              <label for="">Password</label>
                              <input type="password" class="form-control" th:field="*{password}"  aria-describedby="passwordHid" placeholder="password">
                              <small th:if="${#fields.hasErrors('password')}" 
                              id="nameHid" class="form-text text-muted">pass is required</small>
                            </div>
                            <div class="form-group">
                              <label for="">Phone</label>
                              <input type="text" class="form-control" th:field="*{phone}"  aria-describedby="passwordHid" placeholder="phone">
                              <small th:if="${#fields.hasErrors('phone')}" 
                              id="nameHid" class="form-text text-muted">phone is required</small>
                            </div>
                          
                            </div>
                            <div class="card-footer text-muted">
                             
                                <a th:href="@{/site/register}" class="btn btn-success"><i class="fas fa-input"></i>Reset</a>
                                <button class="btn btn-primary"><i class="fas fa-Save"></i>
                                <span th:if="${customer.isEdit}">Update</span>
                                <span th:unless="${customer.isEdit}">Save</span>
                                </button>
                  
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        
    </body>
</html>