<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/dashboardLayout.html}">
<head>
</head>
<body>

	<section  layout:fragment="content">
	
	
    <div  th:each="p : ${product}">

     
    
    
    <div class="card ">
  <div class="card-header">
  <h4 th:text="${p.name}" class="card-title"></h4> 
  </div>
  <div class="card-body">
  <img th:src="'/uploads/'+${p.image}"style="width: 150px; height: 200px;"> 
  </div>
  <div class="card-footer">
  <li th:text="${p.unitPrice}" class="card-text"></li>
   <li th:text="'$ '+${p.discount}" class="card-text" style="color: red;"></li> 
   <a href="" th:href="@{/site/viewproduct/{id}(id=${product.productId})} " class="btn btn-primary" style="float: right; padding-top: 5px;">Add Product</a>

     
  </div>
</div>
 
</div>
</section>
</body>
</html>