<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/dashboardLayout.html}"> 
  <head>
        
      
    </head>

    <body>
        
            <section class="row" layout:fragment="content">
                <div class="offset-3 col-6 mt-4">
                    <form th:action= "@{/admin/accounts/saveOrUpdate}" th:object="${account}" method="post">
                        <div class="card">
                            <div class="card-header">
<!--                                 <b>Add New category</b> -->
            <span th:if="${account.isEdit}">Update add</span>
                                <span th:unless="${account.isEdit}">Save add</span>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                  <label for="category">User Name</label>
                                 <input type="hidden" th:field="*{isEdit}"> 
                                  <input type="text" class="form-control" th:field="*{username}"  aria-describedby="usernameHid" placeholder="category"
                                  >
                                   <small th:if="${#fields.hasErrors('username')}" id="categoryHid" class="form-text text-muted">category is required</small> 
                                </div>
                            <div class="form-group">
                              <label for="">password</label>
                              <input type="text" class="form-control" th:field="*{password}"  aria-describedby="passwordHid" placeholder="password">
                              <small th:if="${#fields.hasErrors('password')}" 
                              id="nameHid" class="form-text text-muted">password is required</small>
                            </div>
                            
                            </div>
                            <div class="card-footer text-muted">
                                <button type="reset" class="btn btn-secondary"><i class="fas fa-input"></i>Reset</button>
                                <a th:href="@{/admin/accounts/searchpaginated}" class="btn btn-success"><i class="fas fa-input"></i>List Categories</a> 
                                <button class="btn btn-primary"><i class="fas fa-Save"></i>
                                <span th:if="${account.isEdit}">Update</span>
                                <span th:unless="${account.isEdit}">Save</span>
                                </button>
                  
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        
    </body>
</html>